/*
    Inputs
*/

.adminTitle {
    width: 100%;
    max-width: 800px;
    padding: 0 0 2rem 0;
}

label {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    color: var(--txt-color);
    margin-bottom: 1.625rem;
    margin-left: 0.625rem;
}

input:not([type="checkbox"]),
select,
textarea {
    width: 100%;
    padding: .8rem 1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--txt-color);
    background: #FDFDFD;
    border: 2px solid #E5E5E5;
    border-radius: 12px;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}


input:focus-visible,
select:focus-visible,
textarea:focus-visible {
    border-radius: 12px;
}

input:focus,
select:focus,
textarea:focus {
}

input::placeholder,
textarea::placeholder {
    color: #c3c3c3;
}

select {
    appearance: none;
    padding-right: 1.2rem;
    cursor: pointer;
    background-size: 1.2rem;
    background: #FDFDFD /*url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E")*/ no-repeat right 1rem center;
}

textarea {
    resize: vertical;
    min-height: 6rem;
}

input[type="submit"] {
    background: #b3d8fb;
    color: #094175;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    border-radius: 12px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

input[type="submit"]:disabled {
    background: #e5e5e5;
    color: #c3c3c3;
    cursor: not-allowed;
}

input[type="submit"]:disabled:hover {
    background: #e5e5e5;
    color: #c3c3c3;
    cursor: not-allowed;
    border-radius: 12px;
}

input[type="submit"]:hover {
    background: #94c4f7;
    border-radius: 50rem;
}

label:has(+ input[required]):after,
label:has(+ select[required]):after,
label:has(+ textarea[required]):after {
    content: ' *';
    color: #9F0000;
}

input.is-valid,
select.is-valid,
textarea.is-valid {
    border: 2px solid #06853c;
    background-color: #d7efe2;
    outline-color: #06853c;
}

input.is-invalid,
select.is-invalid,
textarea.is-invalid {
    border: 2px solid #b31909;
    background-color: #f8dfdd;
    outline-color: #b31909;
}

.error-message {
    display: flex;
    align-items: start;
    gap: 0.5rem;
    font-size: 0.9em;
}

.error-message > .redError {
    color: #b31909;
}

.error-message > .orangeError {
    color: #aa5407;
}


/*
    Utilisation du !important pour écraser le rouge initial
*/
.noError {
    color: #005c2a !important;
}