.aLaUne {
    width: 100%;
}

.banner {
    background-color: #f6f6f6;
    border: 2px solid #e0e0e0;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
    width: 100%;
    padding: 1rem 1.4rem 2rem 1.4rem;
    text-align: center;
}

.banner p, .banner h3 {
    margin: 0;
    text-align: left;
    color: #333;
}

.docsMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 800px;
}

.docsMain * {
    width: 100%;
}

.titleContainer.docs h1 {
    font-size: 3em;
    margin: 0;
}

.docAlert {
    background-color: #d7ecf8;
    color: #1c5872;
    border-color: #bed8e6;
    border-width: 4px;
    border-style: solid;
    padding: 15px;
    border-radius: 15px;
    max-width: 800px;
    margin: 0;
}

.docAlert p {
    margin: 0;
}

.docAlert.red {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.docAlert.green {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
    margin-inline: auto;
}

.disabledLink {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.disabledLink:hover {
    text-decoration: none;
}

.docsContent {
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
}

.docsContent h2 {
    font-size: 2em;
    padding-top: .4rem
}

h3 {
    font-size: 1.8em;
    padding-top: .4rem
}

.docsContent h3 {
    font-size: 1.5em;
    padding-top: .4rem
}

p {
    margin: 0 0 1em;
    line-height: 1.2;
    font-size: 1.1em;
}

dl {
    margin: 1.5rem 1rem;
    padding: 0;
}

dt {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: .65rem;
    color: var(--txt-color);
}

dd {
    margin: 0.5rem 0 1.5rem 1.5rem;
    font-size: 1.1rem;
    color: var(--txt-secondary);
    line-height: 1.4;
}

article {
    margin-bottom: 5rem;
    padding: 0;
}

details {
    margin: 1rem;
    padding: 0;
}

summary {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: .65rem;
    margin-bottom: .65rem;
    color: var(--txt-color);
}

article figure {
    height: auto;
    width: 300px !important;
    margin: 1rem 0;
    float: right;
}

.nextPrevious {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    width: 100%;
}

.nextPrevious * {
    width: fit-content;
    font-size: 1.2rem;
}

.previous::before {
    content: "←";
    margin-right: 0.5rem;
}

.next::after {
    content: "→";
    margin-left: 0.5rem;
}

