/*
    IBM Plex Sans
    License : legal/licenses/OFL.txt
    -
    Toute notion de PT Sans est obsolète, remplacée par IBM Plex Sans en raison de la provenance de la police.
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/*
    Meshed Display
    License : legal/licenses/License_Meshed_Display.pdf
*/

@font-face {
    font-family: 'Meshed Display';
    src: url('../fonts/meshed_display/MeshedDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Meshed Display';
    src: url('../fonts/meshed_display/MeshedDisplay-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Meshed Display';
    src: url('../fonts/meshed_display/MeshedDisplay-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Meshed Display';
    src: url('../fonts/meshed_display/MeshedDisplay-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Meshed Display';
    src: url('../fonts/meshed_display/MeshedDisplay-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}