body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

h1 {
    font-family: 'Meshed Display', serif;
    font-size: 2.25rem;
}

h1.bigTitle {
    color: #202124;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.15rem;
    margin-top: 3rem;
}

.trainNumber {
    font-family: "PT Sans", sans-serif;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height:  3.5rem
}

.tableCategory {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: .2rem;
    margin-top: 2rem;
}

/* Revoir les font sizes.*/

h2 {
    font-family: 'Meshed Display', serif;
    font-size: 1.75rem;
}

/*h3 {
    font-family: 'Meshed Display', serif;
    font-size: 1.75rem;
}

h4 {
    font-family: 'Meshed Display', serif;
    font-size: 1.5rem;
}

h5 {
    font-family: 'Meshed Display', serif;
    font-size: 1.25rem;
}

h6 {
    font-family: 'Meshed Display', serif;
    font-size: 1rem;
}
*/

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
}

p.alertText {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #910000;
}

a, .button {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

.menu-link {
    font-family: 'PT Sans', sans-serif;
    font-size: 0.875rem;
}

.caption {
    font-family: 'PT Sans', sans-serif;
    font-size: 0.75rem;
}

label {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1rem;
}

label.max {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.25rem;
}
