# Authentification
AuthType Basic
AuthName "Restricted Area"
AuthUserFile /home/lesimple/public_html/sae203/admin/.htpasswd
Require valid-user

# Retirer accès au fichier .htpasswd
<Files ".htpasswd">
    Require all denied
</Files>